@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto+Mono:wght@100;200&display=swap');
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

body{
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(4,47,59,1) 0%, rgba(4,47,59,1) 56%, rgba(33,89,104,1) 100%);
    color:antiquewhite;
}

.cabecalho{
    padding: 2% 0 0 15%;
    height: 50px;
    background: linear-gradient(90deg, rgba(150,61,255,1) 0%, rgba(121,9,121,1) 35%, rgba(182,0,255,1) 100%);
}

.cabecalho__menu{
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link{
    font-family: Krona One;
    font-size: 14px;
    color: #042f3b;
}

.titulo-destaque{
    color: #963dff;
}

.apresentacao__sobre{
    display: flex;
    margin: 10% 15%;
}

.apresentacao{
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Roboto mono', sans-serif;
}

.apresentacao__links{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: 'Krona One', 'sans-serif';
    font-weight: 400px;
    font-size: 24px;
}

.apresentacao__links__link:hover{
    background: linear-gradient(90deg, rgba(150,61,255,1) 0%, rgba(121,9,121,1) 35%, rgba(182,0,255,1) 100%);
    color: aqua;
}

.cabecalho__menu__link:hover{
    color: aqua;
}

.apresentacao__links__link{
    /* background-color: #963DFF; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 280px;
    text-align: center;
    border: 2px solid #963dff;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color:  #963dff;
    font-family: 'Roboto mono', sans-serif;
}
.icone-redes{
    color: #963dff;
}
.imagem-luiz{
    border-radius: 100%;
    padding-left: 5%;
}

.imagem-sobre{
    border-radius: 40%;
}

.rodape{
    font-family: roboto mono;
    flex-direction: column;
    text-align: center;
    padding: 26px;
    background: linear-gradient(90deg, rgba(150,61,255,1) 0%, rgba(121,9,121,1) 35%, rgba(182,0,255,1) 100%);
}

